<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	<div class="container">
		<a class="navbar-brand" href="index.html">dirEngine.</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
			aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="oi oi-menu"></span> Menu
		</button>

		<div class="collapse navbar-collapse" id="ftco-nav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link" routerLink="/home">Home</a></li>
				<li class="nav-item active"><a class="nav-link" routerLink="/destination">Destinatons</a></li>
				<li class="nav-item"><a class="nav-link" routerLink="/blog">Blogs</a></li>
				<li class="nav-item cta"><a class="nav-link" routerLink="/addblog"><span>Add Blog</span></a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="hero-wrap js-fullheight" style="background-image: url('assets/images/bg_3.jpg');height: 716px">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
			data-scrollax-parent="true">
			<div class="col-md-9  text-center" data-scrollax=" properties: { translateY: '70%' }">
				<p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
				<h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"
					style="margin-top: 350px; margin-left: 20px;">Destination</h1>
			</div>
		</div>
	</div>
</div>
<section class="ftco-section ftco-degree-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 sidebar ">
				<div class="sidebar-wrap bg-light ">
					<h3 class="heading mb-4">Find destination</h3>
					<form #f="ngForm" (submit)="onSearch()">
						<div class="fields">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Destination"
									[(ngModel)]="name" name="name" ngModel>
							</div>
							<div class="form-group">
								<input type="text" ngModel class="form-control" placeholder="City" [(ngModel)]="city" name="city">
						</div>
							<div class="form-group">
								<div class="select-wrap one-third">
									<div class="icon"><span class="ion-ios-arrow-down"></span></div>
									<select class="form-control" [(ngModel)]="category" ngModel name="city" placeholder="Keyword search">
										<option value="hotels">hotel</option>
										<option value="restaurants">restaurants</option>
										<option value="attractions">attractions</option>
										<option value="museums">museums</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<button type="submit" value="Search" class="btn btn-primary py-3 px-5"
									(click)="searchText = f.value">search</button>
							</div>
						</div>
					</form>

				</div>

			</div>
			<div class="col-lg-9 col-md-8">
				<h3 class="heading mb-4">Destination</h3>
				<div class="row">
					<div *ngFor="let destination of destinationList | filterPipe:searchText ">
						<div>{{ destination.name }}</div>
						<div>{{ destination.nameOfCity }}</div>


						<!-- Repeat similar blocks for attractions and museums -->

						<hr>
					</div>
					<!-- <div class="col-md-4" *ngFor="let destination of filteredList">
						<div class="destination">
						  <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(assets/images/destination-2.jpg);">
							<div class="icon d-flex justify-content-center align-items-center">
							  <span class="icon-search2"></span>
							</div>
						  </a>
						  <div class="text p-3">
							<div class="d-flex">
							  <div class="one">
								<h3>{{ destination.name }}, {{ destination.nameOfCity }}</h3> -->
					<!-- Display the average rating from all sub-items -->
					<!-- <p class="rate" *ngIf="destination.hotels || destination.restaurants || destination.attractions || destination.museums">
								  <i class="icon-star"></i>
								  <i class="icon-star"></i>
								  <i class="icon-star"></i>
								  <i class="icon-star"></i>
								  <i class="icon-star-o"></i>
								  <span *ngIf="destination.hotels && destination.hotels.length > 0">{{ destination.hotels[0].rating }} Rating</span>
								  <span *ngIf="destination.restaurants && destination.restaurants.length > 0">{{ destination.restaurants[0].rating }}</span>
							<span *ngIf="destination.attractions && destination.attractions.length > 0">{{ destination.attractions[0].rating }}</span>
							<span *ngIf="destination.museums && destination.museums.length > 0">{{ destination.museums[0].rating }}</span>
							
								</p>
							  </div>
							</div> -->
					<!-- Display the blog of the first available sub-item -->
					<!-- <p *ngIf="destination.hotels && destination.hotels.length > 0">{{ destination.hotels[0].blog }}</p>
							<p *ngIf="destination.restaurants && destination.restaurants.length > 0">{{ destination.restaurants[0].blog }}</p>
							<p *ngIf="destination.attractions && destination.attractions.length > 0">{{ destination.attractions[0].blog }}</p>
							<p *ngIf="destination.museums && destination.museums.length > 0">{{ destination.museums[0].blog }}</p>
							<p class="days"><span>2 days 3 nights</span></p>
							<hr>
							<p class="bottom-area d-flex">
							  <span><i class="icon-map-o"></i> {{ destination.nameOfCity }}</span>
							  <span class="ml-auto"><a href="#">Discover</a></span>
							</p>
						  </div>
						</div>
					  </div> -->

					<!-- <div class="col-md-4 ">
		    				<div class="destination">
		    					<a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(assets/images/destination-2.jpg);">
		    						<div class="icon d-flex justify-content-center align-items-center">
    							<span class="icon-search2"></span>
    						</div>
		    					</a>
		    					<div class="text p-3">
		    						<div class="d-flex">
		    							<div class="one">
				    						<h3><a href="#">Paris, Italy</a></h3>
				    						<p class="rate">
				    							<i class="icon-star"></i>
				    							<i class="icon-star"></i>
				    							<i class="icon-star"></i>
				    							<i class="icon-star"></i>
				    							<i class="icon-star-o"></i>
				    							<span>8 Rating</span>
				    						</p>
			    						</div>
			    						
		    						</div>
		    						<p>Far far away, behind the word mountains, far from the countries</p>
		    						<p class="days"><span>2 days 3 nights</span></p>
		    						<hr>
		    						<p class="bottom-area d-flex">
		    							<span><i class="icon-map-o"></i> San Franciso, CA</span> 
		    							<span class="ml-auto"><a href="#">Discover</a></span>
		    						</p>
		    					</div>
		    				</div>
		    			</div>
		    			<div class="col-md-4 ">
		    				<div class="destination">
		    					<a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(assets/images/destination-3.jpg);">
		    						<div class="icon d-flex justify-content-center align-items-center">
    							<span class="icon-search2"></span>
    						</div>
		    					</a>
		    					<div class="text p-3">
		    						<div class="d-flex">
		    							<div class="one">
				    						<h3><a href="#">Paris, Italy</a></h3>
				    						<p class="rate">
				    							<i class="icon-star"></i>
				    							<i class="icon-star"></i>
				    							<i class="icon-star"></i>
				    							<i class="icon-star"></i>
				    							<i class="icon-star-o"></i>
				    							<span>8 Rating</span>
				    						</p>
			    						</div>
			    						
		    						</div>
		    						<p>Far far away, behind the word mountains, far from the countries</p>
		    						<p class="days"><span>2 days 3 nights</span></p>
		    						<hr>
		    						<p class="bottom-area d-flex">
		    							<span><i class="icon-map-o"></i> San Franciso, CA</span> 
		    							<span class="ml-auto"><a href="#">Discover</a></span>
		    						</p>
		    					</div>
		    				</div>
		    			</div>
		    			<div class="col-md-4 ">
		    				<div class="destination">
		    					<a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(assets/images/destination-4.jpg);">
		    						<div class="icon d-flex justify-content-center align-items-center">
    							<span class="icon-search2"></span>
    						</div>
		    					</a>
		    					<div class="text p-3">
		    						<div class="d-flex">
		    							<div class="one">
				    						<h3><a href="#">Paris, Italy</a></h3>
				    						<p class="rate">
				    							<i class="icon-star"></i>
				    							<i class="icon-star"></i>
				    							<i class="icon-star"></i>
				    							<i class="icon-star"></i>
				    							<i class="icon-star-o"></i>
				    							<span>8 Rating</span>
				    						</p>
			    						</div>
			    						
		    						</div>
		    						<p>Far far away, behind the word mountains, far from the countries</p>
		    						<p class="days"><span>2 days 3 nights</span></p>
		    						<hr>
		    						<p class="bottom-area d-flex">
		    							<span><i class="icon-map-o"></i> San Franciso, CA</span> 
		    							<span class="ml-auto"><a href="#">Discover</a></span>
		    						</p>
		    					</div>
		    				</div>
		    			</div>
		    			<div class="col-md-4 ">
		    				<div class="destination">
		    					<a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(assets/images/destination-5.jpg);">
		    						<div class="icon d-flex justify-content-center align-items-center">
    							<span class="icon-search2"></span>
    						</div>
		    					</a>
		    					<div class="text p-3">
		    						<div class="d-flex">
		    							<div class="one">
				    						<h3><a href="#">Paris, Italy</a></h3>
				    						<p class="rate">
				    							<i class="icon-star"></i>
				    							<i class="icon-star"></i>
				    							<i class="icon-star"></i>
				    							<i class="icon-star"></i>
				    							<i class="icon-star-o"></i>
				    							<span>8 Rating</span>
				    						</p>
			    						</div>
			    						
		    						</div>
		    						<p>Far far away, behind the word mountains, far from the countries</p>
		    						<p class="days"><span>2 days 3 nights</span></p>
		    						<hr>
		    						<p class="bottom-area d-flex">
		    							<span><i class="icon-map-o"></i> San Franciso, CA</span> 
		    							<span class="ml-auto"><a href="#">Discover</a></span>
		    						</p>
		    					</div>
		    				</div>
		    			</div>
		    			<div class="col-md-4 ">
		    				<div class="destination">
		    					<a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(assets/images/destination-6.jpg);">
		    						<div class="icon d-flex justify-content-center align-items-center">
    							<span class="icon-search2"></span>
    						</div>
		    					</a>
		    					<div class="text p-3">
		    						<div class="d-flex">
		    							<div class="one">
				    						<h3><a href="#">Paris, Italy</a></h3>
				    						<p class="rate">
				    							<i class="icon-star"></i>
				    							<i class="icon-star"></i>
				    							<i class="icon-star"></i>
				    							<i class="icon-star"></i>
				    							<i class="icon-star-o"></i>
				    							<span>8 Rating</span>
				    						</p>
			    						</div>
			    						
		    						</div>
		    						<p>Far far away, behind the word mountains, far from the countries</p>
		    						<p class="days"><span>2 days 3 nights</span></p>
		    						<hr>
		    						<p class="bottom-area d-flex">
		    							<span><i class="icon-map-o"></i> San Franciso, CA</span> 
		    							<span class="ml-auto"><a href="#">Discover</a></span>
		    						</p>
		    					</div>
		    				</div>
		    			</div>  -->
				</div>
				<div class="row mt-5">
					<div class="col text-center">
						<div class="block-27">
							<ul>
								<li><a href="#">&lt;</a></li>
								<li class="active"><span>1</span></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">&gt;</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div> <!-- .col-md-8 -->
		</div>
	</div>
</section> <!-- .section -->