<div class="blog-entry align-self-stretch" appHoverHighlight [highlightColor]="'#F8FAFF'">
  <a [href]="'blog-single.html'" class="block-20" [ngStyle]="{ 'background-image': 'url(' + Blogchild.image + ')' }">
  </a>
  
  
  <div class="text p-4 d-block">
    <span class="tag">{{ Blogchild.title }}</span>
    <h3 class="heading mt-3"><a href="#">{{ Blogchild.destination }}</a></h3>
    <div class="meta mb-3">
      <div><a href="#">{{ Blogchild.date }}</a></div>
      <div><a href="#">{{Blogchild.author}}</a></div>
      <div><span class="icon-heart" (click)="OnLike()"></span> {{Blogchild.like}}</div>
    </div>
  </div>
</div>